<div id="emoji-picker">
  <div ng-click="emojiDropdownVisible = !emojiDropdownVisible">{{emojis.emoticon[0]}}</div>
  <div class="emoticon-dropdown"
      ng-class="{active: emojiDropdownVisible}">
    <ul class="emoji-block-group">
      <li class="emoji-group"
          ng-repeat="(group, emotes) in emojis"
          title="{{group}}"
          ng-click="setActiveGroup(group)"
          ng-class="{active: group === activeGroup}">
          {{emotes[0]}}
      </li>
    </ul>
    <ul class="emoji-selection">
      <li ng-repeat="emote in emojis[activeGroup]"
          ng-click="addText(emote)">{{emote}}</li>
    </ul>
  </div>
</div>