
<div id="login">


  <div id="hello">
  <!-- Login methods. -->
  <div class="container">
    <!-- No login method selected. -->
    <div ng-if="loginType === loginTypes.none">
      <center><h1>Star InstantJabber</h1>
      <h3>Great Online Communication for Students</h3></center>

      <div class="methods row">
        <div ng-repeat="type in loginTypes">
          <div class="col-sm-4" ng-show="type !== loginTypes.none">
            <div class="method">
              <h2>{{type.name}}</h2>
              <p>{{type.description}}</p>
              <p class="button"><a class="btn btn-success" ng-click="switchLogin(type)">{{type.button + " &raquo;"}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id = "login2">
      <div class="row">
        <div class="col-sm-3">
        </div>

    <div class="col-sm-6">

    <!-- New user. -->
    <div ng-if="loginType === loginTypes.create">
      <center><h2><b>Create a new account</b></h2></center>

      <form class="form-horizontal" ng-submit="handleCreateAttempt()">
        <div class="form-group">
          <label for="regNameTextBox" class="control-label col-sm-2">Full name:</label>
          <div class="col-sm-10" ng-class="errors.name.cssClass">
            <input id="regNameTextBox" class="form-control" ng-model="newUserForm.name" type="text" placeholder="Name" />
            <p class="help-block" ng-show="errors.name.message">{{errors.name.message}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="regEmailTextBox" class="control-label col-sm-2">Email:</label>
          <div class="col-sm-10" ng-class="errors.email.cssClass">
            <input id="regEmailTextBox" class="form-control" ng-model="newUserForm.email" type="email" placeholder="Email" />
            <p class="help-block" ng-show="errors.email.message">{{errors.email.message}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="regPasswordTextBox" class="control-label col-sm-2">Password:</label>
          <div class="col-sm-10" ng-class="errors.password.cssClass">
            <input id="regPasswordTextBox" class="form-control" ng-model="newUserForm.pass" type="password" placeholder="Password" />
            <p class="help-block" ng-show="errors.password.message">{{errors.password.message}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="regConfirmPasswordTextBox" class="control-label col-sm-2">Confirm password:</label>
          <div class="col-sm-10" ng-class="errors.confirmPassword.cssClass">
            <input id="regConfirmPasswordTextBox" class="form-control" ng-model="newUserForm.confirmPass" type="password" placeholder="Password" />
            <p class="help-block" ng-show="errors.confirmPassword.message">{{errors.confirmPassword.message}}</p>
          </div>
        </div>
        <center><div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-success" type="submit" value="Create Account" />
            <button class="btn btn-default" ng-click="switchLogin(loginTypes.none)">Cancel</button>
          </div></center>
        </div>
      </form>
    </div>
  </div>
</div>


<div id = "login1">
      <div class="row">
        <div class="col-sm-3">
        </div>

    <div class="col-sm-6">

    <!-- Existing user. -->
    <div ng-if="loginType === loginTypes.user">
      <center><h2><b>Sign in to your account</b></h2></center>

      <form class="form-horizontal" ng-submit="handleLoginAttempt()">
        <div class="form-group">
          <label for="emailTextBox" class="control-label col-sm-2">Email:</label>
          <div class="col-sm-9" ng-class="errors.email.cssClass">
            <input id="emailTextBox" class="form-control" ng-model="existingUserForm.email" type="email" placeholder="Email" />
            <p class="help-block" ng-show="errors.email.message">{{errors.email.message}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordTextBox" class="control-label col-sm-2">Password:</label>
          <div class="col-sm-9" ng-class="errors.password.cssClass">
            <input id="passwordTextBox" class="form-control" ng-model="existingUserForm.pass" type="password" placeholder="Password" />
            <p class="help-block" ng-show="errors.password.message">{{errors.password.message}}</p>
          </div>
        </div>
        <center><div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <input class="btn btn-success" type="submit" value="Sign in" />
            <button class="btn btn-default" ng-click="switchLogin(loginTypes.none)">Cancel</button>
          </div></center>
        </div>
      </form>
    </div>
  </div>


    <!-- Guest. -->
    <div ng-if="loginType === loginTypes.guest">
      <h1>Sign in as a guest</h1>
      <p>Continuing as a guest allows you to participate in discussions without an account.</p>
      <div class="alert alert-warning">
        <p>All active chats, contacts and data will be lost when your session ends.</p>
      </div>
      <form>
        <button class="btn btn-success" ng-click="createGuest()">Continue anyways</button>
        <button class="btn btn-default" ng-click="switchLogin(loginTypes.none)">Cancel</button>
      </form>
    </div>
  </div>
</div>



