<div id="login">
  <!-- Login page header. -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <a href="/" title="Home" class="navbar-brand">InstantJabber</a>
      <form class="navbar-form">
        <a href="/login" class="btn btn-success navbar-right">Sign in</a>
      </form>
    </div>
  </nav>
  
  <!-- Login methods. -->
  <div class="container">
    <!-- No login method selected. -->
    <div ng-if="loginType === loginTypes.none">
      <h1>Choose a way to sign in:<br>&nbsp;</h1>
      <div class="row">
        <div ng-repeat="type in loginTypes">
          <div class="col-sm-4" ng-show="type !== loginTypes.none">
            <div class="method">
              <h2>{{type.name}}</h2>
              <p>{{type.description}}</p>
              <p class="button"><a class="btn btn-success" ng-click="switchLogin(type)">{{type.button + " &raquo;"}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back button. -->
    <div ng-if="loginType !== loginTypes.none">
      <button ng-click="switchLogin(loginTypes.none)">Back</button>
    </div>

    <!-- New user. -->
    <div ng-if="loginType === loginTypes.create">
      <form ng-submit="handleCreateAttempt()">
        <input ng-model="form.email" type="email" placeholder="Email" />
        <input ng-model="form.pass" type="text" placeholder="Password" />
        <input ng-model="form.name" type="text" placeholder="Full Name" />
        <input type="submit" value="Create Account" />
      </form>
    </div>

    <!-- Existing user. -->
    <div ng-if="loginType === loginTypes.user">
      <form ng-submit="handleLoginAttempt()">
        <input ng-model="form.email" type="email" placeholder="Email" />
        <input ng-model="form.pass" type="text" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
    </div>

    <!-- Guest. -->
    <div ng-if="loginType === loginTypes.guest">
      <p>Continuing as a guest will allow you to participate in discussions,
          but all of your information will be lost when you exit the seesion</p>
      <button>Continue</button>
    </div>
  </div>
</div>
