<div id="settings" class="col-sm-8 col-md-9">
  <nav class="nav navbar-inverse">
    <div class="container">
      <p class="navbar-brand">Settings</p>
    </div>
  </nav>
  
  <div class="settings-inner">
    <div ng-if="isGuest">
      <h4>Account Registration</h4>
      <button ng-click="toggleUpgradeVisibility()"
              ng-if="isGuest && !visibility.upgradeFromGuest"
              class="btn btn-default">
        Register This Account
      </button>
      <new-account-form
        ng-if="visibility.upgradeFromGuest"
        on-cancel="toggleUpgradeVisibility()",
        account-action="upgrade">
      </new-account-form>
    </div>
  </div>
</div>