<div id="sidebar" class="col-sm-4 col-md-3">
  <!-- User tile. -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li  ng-class="accountDropdownClass">
          <a id="account-dropdown" href="#" class="navbar-brand" ng-click="toggleAccountDropdownVisibility()" title="{{userName}}">{{userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-show="accountDropdownVisible">
            <li><a href="/settings" ng-click="toggleAccountDropdownVisibility()">Account Settings</a></li>
            <li><a href="#" ng-click="logout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div id="sidebar-inner">
    <div class="container">
      <div ng-if="requests.length > 0">
        <div class="sidebar-header" ng-class="sidebar.requests.cssClass"><h4><a href="#" ng-click="toggleRequestVisibility()">Contact requests <span class="caret"></span></a></h4></div>
        <ul class="nav nav-sidebar requests" ng-show="sidebar.requests.visible">
          <li ng-repeat="request in requests" class="panel panel-default">
            <div class="panel-body">
              <p>{{request.info.name}}</p>
              <div class="button-row">
                <button class="btn btn-success" ng-click="addContactResponse(request.id, true)">Accept</button>
                <button class="btn btn-default" ng-click="addContactResponse(request.id, false)">Decline</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="sidebar-header" ng-class="sidebar.chats.cssClass"><h4><a href="#" ng-click="toggleChatsVisibility()">Conversations <span class="caret"></span></a></h4></div>
      <p ng-if="chats.length === 0">Select a contact to get started.</p>
      <ul class="sidebar-group" ng-show="sidebar.chats.visible">
        <li ng-repeat="chat in chats">
          <div class="two-columns">
            <a ng-href="/chat-{{chat._id}}">{{chat.name}}</a>
            <div><button class="btn btn-danger btn-sm hover-to-show" ng-show="!chat.isLeaving" ng-click="toggleIsLeaving(chat)">Leave</button></div>
          </div>
          <div class="confirm" ng-show="chat.isLeaving">
            <p>Are you sure you want to leave this chat?</p>
            <button class="btn btn-sm btn-danger" ng-click="leaveChat(chat)">Yes</button>
            <button class="btn btn-sm btn-default" ng-click="toggleIsLeaving(chat)">No</button>
          </div>
        </li>
      </ul>

      <div class="sidebar-header" ng-class="sidebar.contacts.cssClass">
        <h4><a href="#" ng-click="toggleContactsVisibility()">Contacts <span class="caret"></span></a></h4>
        <button class="btn btn-success btn-sm" title="Add a contact" ng-click="showAddContacts()" ng-show="!addContactVisible">+</button>
      </div>
      <ul class="nav nav-sidebar" ng-show="sidebar.contacts.visible">
        <li ng-if="contacts.length === 0 && !addContactVisible">
          <p>You don't have any contacts yet.</p>
        </li>
        <li ng-show="addContactVisible">
          <div class="panel panel-default">
            <div class="panel-heading">Send a contact request</div>
            <div class="panel-body">
              <form ng-submit="addContact()">
                <div class="form-group" ng-class="errors.contact.cssClass">
                  <input id="newContactEmailTextBox" class="form-control" ng-model="contactEmail" placeholder="Email" />
                  <p class="help-block" ng-show="errors.contact.message">{{errors.contact.message}}</p>
                </div>
                <div class="form-group button-row">
                  <input class="btn btn-success" type="submit" value="Send" />
                  <input type="button" value="Cancel" class="btn btn-default" ng-click="toggleAddContactVisibility()" />
                </div>
              </form>
            </div>
          </div>
        </li>
        <li ng-repeat="contact in contacts">
          <a href="#" ng-click="createChat(contact.id)"><span ng-class="getOnlineClass(contact.info.online)"></span> {{contact.info.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>