<div id="sidebar" class="col-sm-3">
  <!-- User tile. -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="navbar-brand" ng-click="toggleAccountDropdownVisibility()">{{userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-show="accountDropdownVisible">
            <li><a href="#" ng-click="toggleAccountDropdownVisibility()">Account settings</a></li>
            <li><a href="#" ng-click="logout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div id="sidebar-inner">
    <div class="container">
      <!--
          <div class="dropdown-item"
              ng-click="toggleAddContactVisibility()">Add Contact</div>
          <form ng-show="addContactVisible"
              ng-submit="addContact()">
            <input type="email" ng-model="contactEmail" placeholder="Contact E-mail" />
            <input type="submit" value="Send" />
            <span ng-class="{active: sentMessageVisible}">Sent!</span>
          </form>
        </div>-->
      <ul class="sidebar-nav">
        <li class="sidebar-nav-header"
            ng-if="requests.length > 0">
              contact requests
            </li>
        <li class="sidebar-brand"
            ng-repeat="request in requests">
          <span>{{request.info.name}}</span>
          <button ng-click="addContactResponse(request.id, true)">Accept</button>
          <button ng-click="addContactResponse(request.id, false)">Decline</button>
        </li>
        <li class="sidebar-nav-header">chats</li>
        <li ng-if="chats.length === 0">
          Select a contact to start a chat!
        </li>
        <li class="sidebar-brand"
            ng-repeat="chat in chats">
          <a ng-href="/chat-{{chat._id}}">{{chat.name}}</a>
        </li>
        <li class="sidebar-nav-header">contacts</li>
        <li ng-if="contacts.length === 0"
            ng-click="showAddContacts()">
          Lets make some friends!
        </li>
        <li class="sidebar-brand"
            ng-repeat="contact in contacts">
          <a ng-click="openChat(contact.id)">{{contact.info.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>