#login .methods {
    margin-top: 2em;
}

#login .method {
    border-radius: 5px;
    padding-top: 20px;
    height: 100%;
}

#login .method h2 {
    margin-top: 0;
}

#login .method p.button {
    margin-top: 2em;
    text-align: right;
}

#login form {
    margin-top: 2em;
}
