<div id="chat" class="col-sm-8 col-md-9 col-xs-12">
  <nav class="nav navbar-inverse">
    <div class="container">
      <ul class="flex">
        <li class="full-width">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input id="chat-name" class="form-control" type="text" ng-model="chat.name" />
            </div>
          </form>
        </li>
        <li>
          <button class="btn navbar-btn btn-default btn-sm"id="add-to-chat-button" ng-click="openAddToChat()">Invite</button>
        </li>
      </ul>
    </div>
  </nav>
  
  <div id="add-to-chat" ng-show="addToChatVisible">
    <ul>
      <li ng-repeat="contact in contacts track by $index">
        <label for="add-to-group-{{$index}}">{{contact.info.name}}</label>
        <input type="checkbox" ng-model="contact.selected" id="add-to-group-{{$index}}" />
      </li>
      <li>
        <button ng-click="addSelectedToChat()">Add!</button>
        <button ng-click="addToChatVisible = false">Cancel</button>
      </li>
    </ul>  
  </div>

  <div id="chat-body">
    <ul id="chat-log">
      <li ng-repeat="message in chat.log">
        <p class = "speech">{{formatMessage(users[message.user], message.msg)}} <span class="timestamp">{{message.timestamp}}<span></p>
      </li>
    </ul>
  </div>

  <footer>
    <div id="typing_on"></div>

    <form ng-submit="sendChat()">
    <input id="chatbar" type="text"
        onkeypress="setTimeout(isTyping(),4000); setInterval(notTyping,5000)"
        ng-model="chatBoxText"
        placeholder="Type here to chat"
        value =""/>
    <emoji-picker></emoji-picker>
    </form>
  </footer>
</div>
