<div id="chat" class="col-sm-8 col-md-9 col-xs-12">
  <nav class="nav navbar-inverse">
    <div class="container">
      <ul class="flex">
        <li class="full-width">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input id="chat-name" class="form-control" type="text" ng-model="chat.name" />
            </div>
          </form>
        </li>
        <li ng-show="!addToChatVisible">
          <button class="btn navbar-btn btn-default btn-sm"id="add-to-chat-button" ng-click="openAddToChat()">Invite</button>
        </li>
      </ul>
    </div>
  </nav>
  
  <div id="add-to-chat" ng-show="addToChatVisible">
    <ul>
      <li>
        <h4>Invite contacts to this conversation</h4>
      </li>
      <li ng-show="contacts.length === 0">
        <p>All your contacts are already participating in this conversation.</p>
      </li>
      <li ng-repeat="contact in contacts track by $index" class="contact">
        <input class="form-control" type="checkbox" ng-model="contact.selected" id="add-to-group-{{$index}}" />
        <label class="control-label" for="add-to-group-{{$index}}">{{contact.info.name}}</label>
      </li>
      <li ng-show="contacts.length !== 0" style="margin-top: 10px;">
        <button class="btn btn-success" ng-click="addSelectedToChat()">Add!</button>
        <button class="btn btn-default" ng-click="addToChatVisible = false">Cancel</button>
      </li>
      <li ng-show="contacts.length === 0">
        <button class="btn btn-default" ng-click="addToChatVisible = false">Close</button>
      </li>
    </ul>  
  </div>

  <div id="chat-body">
    <ul id="chat-log">
      <li ng-repeat="message in chat.log">
        <p class="speech">{{formatMessage(users[message.user], message.msg)}} <span class="timestamp">{{message.timestamp}}<span></p>
      </li>
    </ul>
  </div>

  <footer>
    <!--<div id="typing_on"></div>-->

    <form ng-submit="sendChat()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="emoji"><emoji-picker></emoji-picker></span>
          <input id="chatbar" type="text"
              onkeypress="setTimeout(isTyping(),4000); setInterval(notTyping,5000)"
              ng-model="chatBoxText"
              placeholder="Type here to chat"
              value ="" class="form-control" aria-describedby="emoji"/>
        </div>
      </div>
    </form>
  </footer>
</div>
