<div id="sidebar-wrapper">
  <ul class="sidebar-options">
    <li id="add-contact">
      <button ng-click="addContact()"
          title="Add Contact">Add Contact</button>
      <!--requires image asset-->
    </li>
    <li id="create-group">
      <button ng-click="gitResetHard()
          "title="Create Group">DELETE ALL</button>
      <!--requires image asset-->
    </li>
  </ul>
  <ul class="sidebar-options">
    <li ng-repeat="state in sidebarStates">
      <button title="View {{state}}"
          ng-class="{active: sidebarState === state}"
          ng-click="setSidebar(state)">{{state}}
      </button>
    </li>
  </ul>
  <!--<button class="toggle-button">Toggle</button>-->
  <ul class="sidebar-nav">
    <li ng-if="sidebarState==='contacts'"
        class="sidebar-brand"
        ng-repeat="contact in contacts">
      <a>
          {{contact.id}}
      </a>
    </li>
    <li ng-if="sidebarState==='chats'"
        class="sidebar-brand"
        ng-repeat="chat in chats">
      <a ng-href="/chat?id={{chat.id}}">
          {{chat.name}}
      </a>
    </li>
  </ul>
</div>